<%= flash[:notice] %>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Phone Number</th>
    <th>Address</th>
		<th>City</th> 
	</thead>
	<tbody>
		<% @contacts.each do |contact| %>
			<tr>
				<td><%= contact.first_name %></td>
				<td><%= contact.last_name %></td>
				<td><%= contact.email %></td>
				<td><%= contact.phone %></td>
        <td><%= contact.address_line_1 %></td>
        <td><%= contact.city %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<h4> Import that data! </h4>
		<%= form_tag import_contacts_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
		<% end %> 
</div> 

