<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <nav class="NavBar">
      <div class="plate">
        <p class="script">
          <span>Open your CSV file</span>
        </p>
      </div>
      <div>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
